body {
	margin: 0px;
}

.container {
	width: 100%;
	height: 100%;
}

.title {
	width: 320px;
	height: 45px;
	font-size: 30px;
	margin-left: 60px;
	text-decoration: underline;
	border: 2px solid #43B8DB;	
	background: #9BC6E3;
}

.settings {
	width: 70%;
	height: 100px;
	margin-left: 60px;
	margin-top: 20px; 
	background: #9BC6E3;
	border: 2px solid #259E8D;
	display: flex;
	align-items: center;
}

.random {
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 2px solid #259E8D;
}

.buttons {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;	
}

.containerdeboton {
	width: 132px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2px solid #259E8D;
}

.dice {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	margin-right: 40px;
	background: url("https://imgur.com/g1kTprE.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

.randomNumber {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #000;
	cursor: pointer;
}

.plus {
	margin-right: 5px;
}

.rojo {
	background: red;
}

.amarillo {
	background: yellow;
}

.gris {
	background: gray;
}

.rosa {
	background: pink;
}

.negro {
	background: #000;
	color: #fff;
	border: 2px solid #fff;
}

.board {
	margin-top: 30px;
	margin-left: 20px;
	height: 40%;
	width: 97%;
	border: 2px solid #000;
	background: #9BC6E3;
}

.numbers {
	width: 97%;
	height: 20px;
	margin-left: 40px;
	display: flex;
	align-items: center;
	background: #437495;
}

.number {
	width: 63.5px;
	height: 19px;
	border: 1px solid #000;
	text-align: center;
	border-bottom: 2px solid #000;
}

.lockers { 
	display: flex;
	align-items: center;
}

.start {
	height: 243px;
	width: 40px;
	border: 1px solid #000;
	border-top: 2px solid #000;
	text-decoration: underline;
	background: #437495;
	border-bottom: 2px solid #000;
	color: #000;
}

.player {
	width: 26px;
	height: 20px;
	border-radius: 50%;
	margin-top: 20px;
	cursor: pointer;
	border: 2px solid #000;
}

.locker {
	width: 64.5px;
	height: 243px;
	border: 1px solid #000;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.gray {
	background: gray;
}

.pink {
	background: pink;
}

.black {
	background: black;
}

.exercises {
	width: 97%;
	height: 110px;
	background: #9BC6E3;
	border: 2px solid #000;
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.row {
	width: 265px;
	height: 110px;
	background: #fff;
	border: 1px solid #437495; 

}

.exercise {
	height: 25%;
	width: 100%;
	background: #9BC6E3;
	border: 1px solid #437495;
}